.current-weather{
  padding-top: 100px;

  .static-date{
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;

    .static-date__location-container{
      display: flex;
      justify-content: center;
      align-items: center;

      .static-date__location{
        margin: 0;
        font-weight: 600;
        padding-left: 25px;
      }
    }

    .static-date__date{
      margin: 0;
    }
  }


  .current-weather__app{
    width: 870px;
    height: 468px;
    background-image: url('./images/dallas.png');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    .clouds{
      display: flex;
      justify-content: space-between;

      .left-cloud{
        margin-top: 100px;
        margin-left: -45px;
      }

      .right-cloud{
        margin-top: 20px;
        margin-right: -75px;
      }
    }

    .current-weather__content{
      display: flex;
      padding-left: 38px;
      padding-top: 37px;
      color:#65AED5;
      align-items: center;

      .current-weather__temp{
        font-size: 48px;
        line-height: 61px;
        font-weight: 400;
        margin: 0;
      }

      .current-weather__icon{
        padding: 0 13px 0px 3px;
      }

      .current-weather__description{
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        .current-weather__overcast{
          margin: 0;
          text-transform: capitalize;
        }
        .current-weather__windspeed{
          margin: 0;
          &::after{
            content: " mph";
          }
        }
      }
    }
  }
}
