.forecast{
  display: flex;
  justify-content: center;


  .forecast__item{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    width: 164px;
    min-height: 122px;
    max-height: 122px;
    height: 122px;
    background-color: white;
    color: #4A4A4A;
    padding: 16px 0px;
    border: solid 2px #D8D8D8;
    border-top: none;

    &:nth-of-type(1n){
      border-left: none;
    }
    &:nth-of-type(1){
      border-left: solid 2px #D8D8D8;
    }

    .forecast__item-date{
      margin: 0;
      font-weight: 600;
      font-size: 14px;
      font-style: italic;
    }

    .forecast__item-img{
      width: 45px;
      height: 47px;
      padding: 9px 0px;

      svg{
        width: 45px;
        height: 47px;
      }
    }

    .forecast__item-temp{
      margin: 0;
      font-size: 24px;
      line-height: 30px;
    }
  }
}
