.App{
  width: 100vw;
  height: 150vh;
  background: rgb(2,0,36);
  background: linear-gradient(45.38deg, #115DA3 0.65%, #4ECFED 100%);
  font-family: 'Open Sans', sans-serif;
}

.form-container{
  position: absolute;
  margin-top: 60px;
  margin-left: 225px;
  z-index: 5;

  .searchSubmit{
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    border: none;
  }

  .buttonSubmit{
    box-shadow: none;
    background-color: #0A122A;
    border: 1px solid transparent;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 10px;
  }
}
